main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main section{
    width: 100%;
    max-width: 1000px;
}
input button body{
    margin: 0%;
}
h1,h2,h3,h4,form,p{
    margin: 0%;
}
button{
    cursor: pointer;
}
h1,p,div,a,input,button{
    font-family: var(--main_font);
}
body{
    margin: 0%;
}
input:focus{
    outline: none;
}
textarea{
    font-family: var(--main_font);
}
textarea:focus{
    outline: none;
}
.hidden{
    display: none;
}