:root{
    --font_color : #222222;
    --main_color : #2C69D8;
    --background_color : white;
    --background_color2 : #EEF0F3;
    --red_btn_color : #EE695E;
    --green_btn_color : #61C253;
    --main_font : 'Nanum Gothic', sans-serif;
}